<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="myFortuneService"
class="com.mirjalolcode.springdemo.HappyFortuneService">
</bean>

<bean id="myCoach"
class="com.mirjalolcode.springdemo.TrackCoach">

<!-- set up constructor injection -->
<constructor-arg ref="myFortuneService"/>
</bean>

<bean id="myCricketCoach"
class="com.mirjalolcode.springdemo.CricketCoach">

<!-- set up setter injection -->
<property name="fortuneService" ref="myFortuneService"/>

<!-- inject literal values -->
<property name="emailAddress" value="mirjalolrakhmonov@yahoo.com"/>
<property name="team" value="Tigers Team"/>

</bean>
</beans>
