<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="myFortune"
class="com.mirjalolcode.springdemo.HappyFortuneService">
</bean>

<bean id="myCoach"
class="com.mirjalolcode.springdemo.TrackCoach">

<!-- set up ctor injection -->
<constructor-arg ref="myFortune"/>
</bean>
</beans>